<div class="w-full flex justify-center pt-12 mb-8">
    <div class="container grid grid-cols-2 ">
      
        <div class="toptitle col-span-1 col-start-1 row-start-1 ">
            <div class="toptitle flex  mb-4"> 
            <div class=" flex items-center px-4"> <svg width="180" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <line id="svg_4" y2="25" x2="180" y1="25" x1="5" stroke-width="4" stroke="#000000" fill="none"/> </g> </svg></div>
            <div class=" text-xl w-2/3 flex items-center">ΕΚΔΗΛΩΣΕΙΣ</div>
                </div>
                <div class="title font-bold text-2xl py-4 ">Καλοκαιρινά Σχολεία Αγάπης</div>


    </div>
</div>

</div>


