<div class="w-full flex justify-center pt-12 mb-8">
    <div class="container ">
        <div class="toptitle flex  mb-4"> 
            <div class=" flex items-center px-4"> <svg width="180" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <line id="svg_4" y2="25" x2="180" y1="25" x1="5" stroke-width="4" stroke="#000000" fill="none"/> </g> </svg></div>
            <div class=" text-xl w-2/3 flex items-center">ΓΝΩΡΙΣΤΕ ΜΑΣ</div> 
        </div>
        <div class="title font-bold text-2xl py-4 ">Τι μπορούμε να κάνουμε μαζί;</div>
        <div class="text  prose w-full">
            Έχουμε ένα σχέδιο και αποδεδειγμένη δουλειά για περισσότερη χαρά, για λιγότερα δάκρυα.</br>
            Μοιραζόμαστε τις χαρές, τις λύπες, τα προβλήματα, βοηθώντας ο ένας τον άλλο, 
            με αγάπη και κατανόηση για τη λύση τους. Μοιρασμένη χαρά, διπλή χαρά! Μοιρασμένη λύπη, μισή λύπη!</br>
            Παίρνουμε χαρά, προσφέρουμε χαρά! 
        </div>
        
        <div class="grid gap-16 grid-cols-3 grid-rows-2 py-12">
            <div class="border text-center p-8 prose flex items-center justify-center text-xl h-40">Κοινωνικό </br>Παντοπωλείο </div>
            <div class="border text-center p-8 prose flex items-center justify-center text-xl h-40">Έργο </br>Ενοριών</div>
            <div class="border text-center p-8 prose flex items-center justify-center text-xl h-40">“Σπίτι </br>του Πολίτη”</div>
            <div class="border text-center p-8 prose flex items-center justify-center text-xl h-40">Οικογένειες </br>σε ανάγκη</div>
            <div class="border text-center p-8 prose flex items-center justify-center text-xl h-40">Φυλακές Νέων </br>Αυλώνα </div>
            <div class="border text-center p-8 prose flex items-center justify-center text-xl h-40">Μοναχικοί </br>αγαπημένοι</div>
        </div>
        
    
    </div>
</div>
