<div class="w-full flex justify-center pt-12 mb-8">
    <div class="container grid grid-cols-2 ">
        <div class="image row-span-full col-start-2 row-start-1"><img src="/assets/images/school_love.jpg" alt="school of love"></div>
        
        <div class="toptitle col-span-1 col-start-1 row-start-1 ">
            <div class="toptitle flex  mb-4"> 
                <div class=" flex items-center px-4"> <svg width="180" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <line id="svg_4" y2="25" x2="180" y1="25" x1="5" stroke-width="4" stroke="#000000" fill="none"/> </g> </svg></div>
                <div class=" text-xl w-2/3 flex items-center">ΤΙ ΜΑΣ ΕΝΩΝΕΙ</div> 
            </div>
            <div class="title font-bold text-2xl py-4 ">Ήξερες ότι είσαι Άνθρωπος Αγάπης;</div>


            <div class="text prose mb-8">
                <p>
                Απο Αγάπη γεννήθηκες,</br>
                αυτή σε έθρεψε και αυτή σε κινεί. </br>
                </p>
                <p>Δώσε Αγάπη με κάθε τρόπο.</br>
                Μόνο δίνοντας θα αποκτήσεις περισσότερη! </br>
                <p>
                Δεν είναι πολυτέλεια. </br>
                Δεν είναι έπαθλο. </br>
                ΑΝΆΓΚΗ είναι ν αγαπάς κι.. αν αγαπάς θα ζήσεις! </br>
                </p>
            </div>
            <div class="read_more my-2 ">
                <a class="bg-blue-600 text-white px-4 py-4 w-10 font-bold" href="">Περισσότερα</a> 
            </div>
        </div>
    
    </div>
</div>

